<% provide(:title, 'About') %>

<h2>About The Blade Master</h2>
<p>Andrew likes fire and hitting things. Blacksmithing allows him to pursue both pursuits simultaneously.  In a not creepy way. He also likes shiny things, which is what putting metal things in the fire and then hitting them will result in.  So it's the perfect career really.</p>
<p>Andrew started out burning ants with a magnifying glass, and progressed to minor arson, albeit inadvertantly, when his mother tried to teach him to cook. Subsequent attempts revealed a natural talent for annealing (hardening things), which is not usually a technique reserved for chocolate cake.</p>
<p>Over time Andrew fostered his talents, and found ways of using them for good, rather than evil.  The items shown on this site are but a few of those he has produced over the years. Annealed chocolate cakes are not among them. </p>
