<% provide(:title, 'Products') %>

<h2>Products</h2>
<p>These are the things we can build.</p>

<h2>Other Services</h2>
<p>Bingi Blades also offers these services:</p>
<li>Edge sharpening and restoration</li>
<li>Antique tool restorations</li>
<li>Custom metalwork</li>
<li>Help demolishing your supply of cheese. Absolutely free!</li>
