<footer class="footer">
  <small>
    Design by <a href="#">Portly Owl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Links</a></li>
    </ul>
  </nav>
</footer>